name: Build
on:
  push:
    paths-ignore:
      - '**.md'
    branches:
      - main
    tags:
      - '*'
  pull_request:
    paths-ignore:
      - '**.md'
    branches:
      - main

jobs:
  build-compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo.
        uses: actions/checkout@v3

      - name: Prepare
        run: |
          sudo apt-get install -y mingw-w64 zip wget libxml2-utils xsltproc
          sh 00-prepare.sh

      - name: Setup Versions
        id: setup
        run: |
          HASH=$(git rev-parse HEAD | cut -c1-9)
          echo "::set-output name=commitHash::$HASH"
          VER=$(cat nginx/src/core/nginx.h | grep NGINX_VERSION | grep -ioP '((\d+\.)+\d+)')
          echo "::set-output name=version::$VER"

      - name: Build Tarball
        run: |
          echo "Build package..."
          sh 10-build-mingw32.sh
          sh 20-zip.sh

          mkdir release
          mv *.zip release/
          ls -al release

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: nginx-${{ steps.setup.outputs.version }}
          path: ${{ github.workspace }}/release/nginx-*.zip

  make-release:
    name: Create and upload release
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    needs: [build-compile]
    defaults:
      run:
        shell: bash

    steps:
      - name: Get Metadata
        id: metadata
        run: |
          ## METADATA SCRIPT
          echo "::set-output name=version::${GITHUB_REF/refs\/tags\//}"

      - name: Download build artifacts
        uses: actions/download-artifact@v3

      - name: Generate Checksums
        run: |
          ## CHECKSUM GENERATION SCRIPT
          shopt -s extglob
          echo "### Checksums" > ${{ github.workspace }}/CHECKSUMS.txt
          for file in ${{ github.workspace }}/**/@(*.pkg|*.exe|*.deb|*.zip|*.tgz); do
            echo "    ${file##*/}: $(sha256sum "${file}" | cut -d " " -f 1)" >> ${{ github.workspace }}/CHECKSUMS.txt
          done

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@1e07f4398721186383de40550babbdf2b84acfc5
        with:
          draft: false
          prerelease: ${{ contains(steps.metadata.outputs.version, 'rc') || contains(steps.metadata.outputs.version, 'beta') }}
          tag_name: ${{ steps.metadata.outputs.version }}
          name: "nginx-${{ steps.setup.outputs.version }}-${{ steps.metadata.outputs.version }}"
          body_path: ${{ github.workspace }}/CHECKSUMS.txt
          files: |
            ${{ github.workspace }}/**/*.zip
            ${{ github.workspace }}/**/*.exe
            ${{ github.workspace }}/**/*.deb
            ${{ github.workspace }}/**/*.tgz
            ${{ github.workspace }}/**/*.pkg
